<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <body style="background-color:black;">
    </body><div style="text-align:center;">
        <h1 style="color:white;">CodeJam '23!<br> <br>GIS How-To's <br></h1>
    <div>
        <p align="center"><iframe src="https://cdn.pixabay.com/animation/2022/12/24/01/36/01-36-27-376_512.gif" width=512 height=256 style="border:none;" scrolling="no""></iframe></p>
    </div>
    <div>
        <center>
                <li><a href="cartography" style="color: #fcfcfc">Cartography Resources</a></li>
                <li><a href="topology" style="color: #fcfcfc">Topology Rules</a></li>
                <li><a href="colorbrewer" style="color: #fcfcfc">Color Brewer</a></li>
                <li><a href="python" style="color: #fcfcfc">Python Cheat Sheet</a></li>
                <li><a href="fish" style="color: #fcfcfc">Southeast Stream Data</a></li>
    <p align="center"><iframe src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Brain_Food_-_Idil_Keysan_-_Wikimedia_Giphy_stickers_2019.gif/240px-Brain_Food_-_Idil_Keysan_-_Wikimedia_Giphy_stickers_2019.gif" width="240" height="240"  style="border:none;"></iframe></p>

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>